input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

@media screen and (max-width: 600px) {
  form, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}